*
!.gitignore
!*/

!.bashrc
!.xinitrc

!dunst/
!dunst/**

!flameshot/
!flameshot/**

!i3/
!i3/**

!i3lock/
!i3lock/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!picom/
!picom/**

!polybar/
!polybar/**

!teevee/
!teevee/**

!assets/
!assets/**
